<footer>
    <div class="sticky-bottom  bg-primary-subtle  "data-bs-theme="dark">   
       <div style="background-color: rgb(33, 37, 41,); padding: 20px;">
        <div style="float: right; margin-top: 170px; ">
            <h6>Derechos reservados &copy; 2023</h6>
        </div>
        <div class="accordion accordion-flush" style="width: 25%; " id="accordionFlushExample">
            <div class="accordion-item"       >
              <h2 class="accordion-header">
                <button class="accordion-button collapsed color"    type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Instagram
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Lorem</div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed  color" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                 Linkedin
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> LOrem </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed color" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Email
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> Lorem</div>
              
            </div>
            
        </div>  
   
     </div> 
   
    </div>
  
    </footer>
   