{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<body>
  <h2>Lorem ipsum dolor sit.</h2>
  <hr>
  <article>
      <h2><b>Lorem</b>lorem3</h2>
      <img src="{% static "img/apple-256261_1280.jpg" %}" class="rounded mx-auto d-block img" alt="Manzana" >
      
      <p><b>Lorem</b> ipsum dolor sit amet consectetur adipisicing elit. <br>
      Laudantium corporis accusamus debitis error distinctio aliquid accusantium dolore, sed unde vero.</p>
     
      <img src="{% static "img/books-1204029_1280.jpg" %}" class="rounded mx-auto d-block img" alt="Libro" >
      
     
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ad quo numquam ab ipsum. Distinctio.</p>
  
  
  </article>
</body>
{% endblock contenido %}



