*{
    margin: 0%;
    padding: 0%;
}

img{
    width: 30%;
}

p{
    text-align: center;
}

#inputLogin{
  vertical-align: middle;
  display: flex;
  margin: 20px auto 20px auto;
}

input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
}
      
button{
        margin-top: 12px;
        border-radius: 5px;
        padding: 5px;
        border: 2px solid ghostwhite;
        background-color: rgba(12, 6, 1, 0.6);
        color: whitesmoke
}
button:hover {
        background-color: #807a71;
      }

h6{
    color: azure;
    text-align: center;
}

label{
    color:black;
    align-items: start;    
}

